html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: #f4f1eb;
}

h2 {
 font-family: 'Quattrocento Sans', sans-serif;
 font-weight: bold;

}

p {
  font-size: 20px;
  counter-reset: black;
}

.artist {
 margin-top: 30px;
 margin-bottom: 50px;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.bio p {
  width: 300px;

}

.intro {
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}

.intro h1 {
  padding-bottom: 20px;
}

.card {
  margin: 10px 10px;
}

input[type='checkbox'] {
  display: none;
}

.intro {
 margin-top: 75px;
}


body{min-height:200vh;}





.navbar {
  height: auto;
  font-size: 16px;
  color: #343440;
  padding-top: 25px;
  padding-bottom: 25px;
}



.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;  
  
}

.navbar-brand img {
 width: 380px;
 height: auto;

}

.nav-link {
  font-size: 16px;
  color:#343440 !important;
  padding-left: 20px !important;
}

.nav-link:hover {
  color:#bb2025 !important;
  text-decoration: underline;
}

.contactartist {
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contactartist a {
  font-weight: bold;
}

.contactartist a:hover {
  text-decoration: underline;
  color:#bb2025;
}

.desc {
  padding-left: 15px;
}

/*masonry*/

section {
  column-width: 400px;
}

section img {
  width: 100%;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 10px;
}

.artistimg {
  float: right;
}

.imgzoom {
  transition: transform 250ms;
}

.imgzoom:hover {
  transform: scale(1.02, 1.02);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 75px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #bb20255f; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}

#myBtn:hover {
  background-color: #bb2025; /* Add a dark-grey background on hover */
}

.thankyou {
 margin-top: 200px;
  width: 500px;
  background-color: white;
  border: solid 1px #343440;
  text-align: center;
  padding: 20px;
}



.homeft {
  background-color: #343440;
}

.tile img{
  width:75px;
  height: auto;
}

.ftnav {
  text-align: right;
  padding-top: 10px;
  line-height: 15px;
}

.ftnav p {
  font-size: 16px;
}

.ftnav a {
  color: #f4f1eb;
}

.ftnav a:hover {
 color: #bb2025;
 text-decoration: underline;
}

/*--thank you pop starts here--*/
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:150px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}

.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
/*Media query - mobile*/

@media (max-width: 767.98px) { 

  .contactartist {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .artistimg {
   float:left;
   padding-bottom: 20px;
  }

  .navbar-brand {
    transition: none;
    
    top: 20px;
  }

  .navbar-brand img {
    width: 200px;
    height: 45px;
  
        
   }
  
   .artistpiccontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   }

   .artistpiccontainer img {
    width: 100%;
   }

  }